.card{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFF6E9;
}
.selectedCard {
    background-color: #FFD700;
    
}
.image {
    height: 50px;
    border-radius: 50%;
}
.container {
    text-align: right;
}