<div class="card" (click)="selectUser()" [class.selectedCard] = "selectedUser?.id === user.id">
  <img src="https://www.w3schools.com/howto/img_avatar.png" class="image" />
  <div class="container">
    <h4><b>{{user.name}}</b></h4>
    <p>{{user.role}}</p>
  </div>
</div>
