<div class="myForm">
  <div class="heading">
    <h1>Profile</h1>
    <div class="buttons">
      <button
        class="btn-edit"
        *ngIf="isEditable && !isEditing"
        (click)="changeEditStatus()">Edit
      </button>
      <button class="btn-delete" (click)="deleteUser()" *ngIf="isDeletable">
        Delete
      </button>
      <button class="btn-save" (click)="addUser()">Save</button>
    </div>
  </div>
  <div class="top">
    <img
      src="https://www.w3schools.com/howto/img_avatar.png"
      alt="Avatar"
      class="image"
    />
    <div class="topRight">
      <div class="input_label">Name</div>
      <div class="input_container">
        <input
          [(ngModel)]="name"
          type="text"
          placeholder="Enter Name"
          [readonly]="!isEditing"
        />
      </div>
      <div class="input_label">Email</div>
      <div class="input_container">
        <input
          [(ngModel)]="email"
          type="text"
          placeholder="Enter email"
          [readonly]="!isEditing"
        />
      </div>
      <div class="input_label">Role</div>
      <div class="input_container">
        <input
          [(ngModel)]="role"
          type="text"
          placeholder="User Role"
          [readonly]="!isEditing"
        />
      </div>
    </div>
  </div>
  <div class="bottom">
    <!-- //create input for phone, website and age similarly -->
    <div>
      <div class="input_label">Phone</div>
      <div class="input_container">
        <input
          [(ngModel)]="phone"
          type="text"
          placeholder="Enter Phone"
          [readonly]="!isEditing"
        />
      </div>
    </div>
    <div>
      <div class="input_label">Website</div>
      <div class="input_container">
        <input
          [(ngModel)]="website"
          type="text"
          placeholder="Enter Website"
          [readonly]="!isEditing"
        />
      </div>
    </div>
    <div>
      <div class="input_label">Age</div>
      <div class="input_container">
        <input
          [(ngModel)]="age"
          type="number"
          placeholder="Enter Age"
          [disabled]="!isEditing"
        />
      </div>
    </div>
  </div>
</div>
