.myForm {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 10px solid #bbe2ec;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.heading {
  width: 100%;
  padding: 1rem 2rem;
  border: 2px solid #40a2e3;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}
.top {
  padding: 1rem;
  width: 100%;
  .image {
    width: 300px;
    border-radius: 50%;
  }
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  .topRight {
    padding: 1rem 2rem;
    flex-grow: 1;
  }
}
input {
  border: none;
  outline: none;
  font-weight: bold;
  color: black;
  font-size: 16px;
  flex-grow: 1;
  padding: 1.2rem 0;
  background-color: var(--color-input);
  
}

input::placeholder {
  font-weight: lighter;
  color: gray;
  font-weight: bold;
}


.input_container:has(input:focus) {
  border: 1px solid rgb(240, 240, 240);
}

.input_label {
  padding: 0 1rem;
  font-weight: bold;
  display: block;
  color: #40a2e3;
}

.input_container {
  border: 1px solid #f5f5f5;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  margin: 0.5rem 0;
  width: 100%;
  gap: 0.5rem;
  padding: 0 1rem;
}

.btn-save {
  background-color: rgba(0, 128, 0, 0.2);
  color: green;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;

}
.btn-delete {
  background-color: rgba(128, 0, 0, 0.2);
  color: red;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.btn-edit {
  background-color: rgba(0, 0, 128, 0.2);
  color: blue;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;

}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
