.container {
    height: 70px;
    background-color: #40A2E3;
}
.box {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}
.btn-save {
    background-color: #0D9276;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-save:hover {
    background-color: #444242;
}

