.body{
    display: flex;
}
.form {
    height: 90vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message {
  background-color: rgba(128, 0, 0, 0.2);
  color: red;
  padding: 5rem 3rem;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
}
