<div>
  <app-navbar [count]="userCount"
      (setShowFormEvent)="setShowForm()"
  ></app-navbar>
  <div class="body">
    <app-sidebar
      [users]="users"
      [selectedUser]="visibleUser"
      (selectUserEvent)="setVisibility($event)"

    ></app-sidebar>
    <div class="form" >
      <app-body
      *ngIf="showForm"
        (addUserEvent)="addUserToArray($event)"
        [user]="visibleUser"
        (removeUserEvent)="deleteUserFromArray($event)"
        (editUserEvent)="editUserInArray($event)"
        (removeVisibilityEvent)="removeVisibility()"
      ></app-body>
      <div *ngIf="!showForm" class="message">
        No user selected <br/>
        Ether select a user or add a new user
    </div>
    </div>
    
  </div>
</div>
