<div class="container">
  <ul>
    <li *ngFor="let i of users">
      <app-card [user]="i" (selectUserEvent)="selectUser($event)"
      [selectedUser]="selectedUser"
      ></app-card>
    </li>
  </ul>
</div>
